/* pass-json-data.css */

.margin {
    margin-top: 5px;
}

.card {
    height: 800px;
    width: 800px;
}

.welcomepages {
    margin-bottom: 40px;
    margin-left: 60px;
}

.getbutton {
    margin-bottom: 20px;
}

.privious {
    margin-left: 10px;
}

.nextp {
    margin-left: 10px;
}

.column21 {
    float: left;
    width: 70%;
    padding: 10px;
}

.column22 {
    float: left;
    width: 30%;
    padding: 10px;
}

.column23 {
    float: left;
    width: 70%;
    padding: 10px;
}

.column24 {
    float: left;
    width: 30%;
    padding: 10px;
}

.pageset {
    width: 50%;
    height: 50%;
}

.pagesets {
    width: 50%;
    height: 50%;
}

.page1next {
    float: right;
    width: 50%;
    padding: 10px;
}

.page1welcome {
    float: right;
    width: 50%;
    padding: 10px;
}

.page2size {
    margin-bottom: 110px;
}

.columnwelcome {
    float: left;
    width: 100%;
    padding: 10px;
    background-color: blue;
}

.sizevary {
    margin-bottom: 600px;
}

.columnicon {
    float: left;
    width: 4%;
    padding: 10px;
}

.columntext {
    float: left;
    width: 62%;
    padding: 10px;
}

.columnbutton {
    float: left;
    width: 28%;
    padding: 10px;
}

.extraspace {
    float: left;
    width: 6%;
    padding: 10px;
}

.extraspaceforwelcomepage {
    float: left;
    width: 10px;
    padding: 10px;
}

.row6 {
    width: 100%;
}

.checkBox {
    width: auto;
    height: 10px;
}

.slider {
    width: 80%;
}

.pageOneAlighn {
    width: 90%;
    height: 50%;
}

.pagetwoAlighn {
    width: 90%;
}

.pageThreeAlighn {
    width: 90%;
}

.pageFourAlighn {
    width: 90%;
}

.outerBox {
    position: relative;
    height: 280px;
    border: 1px solid #666;
    overflow: auto;
    background-color: #eee;
}

.outer-div {
    position: relative;
}

.spinner {
    position: absolute;
}

.indexpagealign {
    width: 70%;
    height: 70%;
}

.WelcomePagealighn {
    width: 70%;
    height: 70%;
}

.yo {
    margin-top: 10px;
}

.box {
    width: 800px;
    margin-top: 20px;
}

.box2 {
    margin-bottom: 100px;
}

.area {
    --sds-c-textarea-sizing-min-height: 300px;
}

.buttonsprev {
    margin-top: 20px;
    margin-left: 320px;
}

.yo1 {
    margin-top: 10px;
    width: 730px;
}

.abc {
    background-color: white;
}

.box8 {
    margin-top: 15px;
    width: 800px;
    margin-bottom: 180px;
}

.hhh {
    margin-top: 23px;
}

.buttons {
    margin-top: 40px;
    margin-left: 210px;
}

.yo2 {
    margin-top: 10px;
    width: 800px;
}

.abcde {
    margin-left: 200px;
}

.buttonss {
    margin-top: 30px;
    margin-right: 40px;
}

select{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    max-width: 130PX;
    min-width: 130PX;
}

.area1 {
    --sds-c-textarea-sizing-min-height: 100px;
}

.detailes {
    margin-top: 20px;
    margin-left: 300px;
}

.selecteds {
    margin-top: 20px;
    height: 32px;
    width: 270px;
    border-color: hsla(0, 100%, 55%, 0.3);
    border-radius: 4px;
}

/* Button styling */
button.slds-button.slds-button_brand {
    background: #a41f34;
    border-color: #a41f34;
}